/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(234, 62%, 56%);
  --icon-color: hsl(234, 12%, 24%);
  --body-color: hsl(234, 48%, 97%);
  --container-color: hsl(234, 100%, 99%);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*=============== BUTTON ===============*/


/* Rotate toggle */


/* Move icons */
